<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440948367961-0u8mcglfvfjbibo70nkol6rehj9l26rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440948367961-0u8mcglfvfjbibo70nkol6rehj9l26rk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440948367961-38s0gslcuaiss7f5f8iec825pvip4a9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADPiRKW9gpl4Fmtta6D8mwivOIf0GunMk</string>
	<key>GCM_SENDER_ID</key>
	<string>440948367961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flexiSenseCompanion</string>
	<key>PROJECT_ID</key>
	<string>flexisense</string>
	<key>STORAGE_BUCKET</key>
	<string>flexisense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440948367961:ios:ef3543202f144596f10748</string>
	<key>DATABASE_URL</key>
	<string>https://flexisense-default-rtdb.firebaseio.com</string>
</dict>
</plist>